<div id="<%= dom_id membership %>">
  <p>
    <strong>Member:</strong>
    <%= membership.member_id %>
  </p>

  <p>
    <strong>Membership type:</strong>
    <%= membership.membership_type_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= membership.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= membership.end_date %>
  </p>

  <p>
    <strong>Renewal date:</strong>
    <%= membership.renewal_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= membership.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= membership.status %>
  </p>

</div>
