<div id="<%= dom_id invoice %>">
  <p>
    <strong>Invoice number:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p>
    <strong>Invoice date:</strong>
    <%= invoice.invoice_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= invoice.member_id %>
  </p>

</div>
