<div id="<%= dom_id membership_type %>">
  <p>
    <strong>Code:</strong>
    <%= membership_type.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= membership_type.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= membership_type.price %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= membership_type.organisation_id %>
  </p>

</div>
