<div id="<%= dom_id budget %>">
  <p>
    <strong>Account:</strong>
    <%= budget.account_id %>
  </p>

  <p>
    <strong>Period:</strong>
    <%= budget.period_id %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= budget.organisation_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= budget.amount %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= budget.remarks %>
  </p>

</div>
