<div class="container">
<p id="notice"><%= notice %></p>

<h1>Organisations</h1>

<table class="table">
  <thead>
    <tr>
    <th colspan="1"></th>
        <th>Name</th>
      <th>Vat number</th>
      <th>Coc number</th>
      </tr>
  </thead>
  <tbody>
   <% @organisations.each do |organisation| %>
        <tr>
          <td>
            <input type="checkbox">
          </td>
            <td><%= organisation.name %></td>
            <td><%= organisation.vat_number %></td>
            <td><%= organisation.coc_number %></td>
          </tr>
      <% end %>
  </tbody>
</table>

 <%= link_to 'New Organisation', new_organisation_path, class: "button is-succes" %>
</div>
