<div id="<%= dom_id period %>">
  <p>
    <strong>Start date:</strong>
    <%= period.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= period.end_date %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= period.organisation_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= period.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= period.description %>
  </p>

</div>
