<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction date:</strong>
    <%= transaction.transaction_date %>
  </p>

  <p>
    <strong>Transaction number:</strong>
    <%= transaction.transaction_number %>
  </p>

  <p>
    <strong>Transaction amount:</strong>
    <%= transaction.transaction_amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= transaction.account_id %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= transaction.organisation_id %>
  </p>

  <p>
    <strong>Transaction text:</strong>
    <%= transaction.transaction_text %>
  </p>

</div>
