<!DOCTYPE html>
<html>
  <head>
    <title>Memberz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render partial: "layouts/navbar" %>
  <div class="columns ml-1">
    <div class="column is-one-fifth has-background-light">
      <%= render partial: "layouts/menu" %>
    </div>
    <div class="column">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      </div>
    <div class="column">
  </div>
 
  </body>
</html>
