<div id="<%= dom_id member %>">
  <p>
    <strong>Salutation:</strong>
    <%= member.salutation %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Birtday:</strong>
    <%= member.birtday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= member.phone %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= member.mobile %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= member.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= member.end_date %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= member.organisation_id %>
  </p>

</div>
