<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="title">Leden (<%= @members.count %>)</h1>

<%= render "import" %>

<table class="table is-striped">
  <thead>
    <tr>
    <th colspan="1"></th>
      <th>Salutation</th>
      <th>Name</th>
      <th>Address</th>
      <th>Postal code</th>
      <th>Place</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Start date</th>
      <th>End date</th>
      </tr>
  </thead>
  <tbody>
   <% @members.each do |member| %>
        <tr>
          <td>
            <input type="checkbox">
          </td>
            <td><%= member.salutation %></td>
            <td><%= link_to member.name, edit_member_path(member.id) %></td>
            <td><%= member.street %></td>
            <td><%= member.postal_code %></td>
            <td><%= member.place %></td>
            <td><%= member.email %></td>
            <td><%= member.phone %></td>
            <td><%= member.start_date %></td>
            <td><%= member.end_date %></td>
          </tr>
      <% end %>
  </tbody>
</table>

 <%= link_to 'New Member', new_member_path, class: "button is-succes" %>
</div>
