<div id="<%= dom_id account %>">
  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= account.description %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= account.status %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= account.organisation_id %>
  </p>

</div>
