<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number, class: "label" %>
    <div class="control">
      <%= form.text_field :number, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <div class="control">
      <%= form.text_field :description, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :account_type, class: "label" %>
    <div class="control">
      <%= form.text_field :account_type, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :status, class: "label" %>
    <div class="control">
      <%= form.text_field :status, class: "input" %>
    </div>
  </div>


 <div class="field is-grouped">
    <%= link_to "Back", accounts_path, class: "button is-info mr-2" %>
    <%= form.submit class: 'button is-primary' %>  
  </div>
<% end %>
